@import '../../styles/app.scss';

.cartEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @media screen and (min-width: 1280px) {
    img {
      width: 350px;
    }
  }
  img {
    width: 250px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: $black;
    border-radius: 30px;
    span {
      padding: 10px 20px 12px;
      color: white;
    }
  }
}
