.wrapper {
  padding: 13px 10px 30px;
  .content {
  }
  .title {
    font-weight: 700;
    margin-bottom: 20px;
  }
  .items {
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
